---
layout: cv
permalink: /cv/
title: CV
---

<section class="container">

<h1><a href="{{ absolute_url }}/">Lin Gao (Lynne, 高琳)</a></h1>

<small class="live-link">Last updated in <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>. Get the latest version at <a href="{{ '/cv' | absolute_url }}">www.domoritz.de/cv</a>.</small>

<div class="header-columns">
  <div>
    <p>
      First-year graduate student at FDU. <br/>
      Address: 220 Handan Road, Shanghai, China. <br/>
      Printable Version <a href="/assets/cv_0709update.pdf" class="download-button" download="Resume_Printable_Version.pdf"><i class="fas fa-download"></i></a>
    </p>
  </div>
  <div>
    <p class="right-align">
      <a href="{{ absolute_url }}/">https://www.lynnegao.me</a><br/>
      <a href="mailto:lgao.lynne@gmail.com">lgao.lynne@gmail.com</a><br/>
      <a href="https://twitter.com/lynnegaogao">@Lynne</a>
    </p>
  </div>
</div>

<h2>Education</h2>

{% for ed in site.data.education %}
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
{% endfor %}

<h2>Experience</h2>
{% for ed in site.data.experience %}
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
{% endfor %}

<h2>Notable Awards</h2>

{% for award in site.data.awards %}
  <div class="date-container">
    <span class="date">{{ award.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.name }}</strong>
    <span class="right">{{ award.sponsor }}</span>
  </div>
  <p class="muted">
    {{ award.description }}
  </p>
{% endfor %}


<h2>Publications <a href="{{ '/publications/' | absolute_url }}"></a></h2>

{% assign sorted_pubs = site.publications | reverse %}

{% assign types = "Journal|Conference|Book Chapter|Demo|Workshop|Thesis" | split: "|" %}
{% for type in types %}
  {% assign counter = 1 %}
  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}
  
  {% if counter >1 %}
  <h4 class="pub-type">
    {{ type }}
  </h4>
  {% endif %}

  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | minus: 1 %}
      <div class="pub">
        <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div>
        <strong class="fill">{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% elsif pub.arxiv %}<a href="https://arxiv.org/pdf/{{ pub.arxiv | cgi_escape }}.pdf">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}</strong>
        <div>
          {% for author in pub.authors %}
        {% if author == "Lin Gao" %}
        <strong style="text-decoration: underline;">{{ author }}</strong>
        {% else %}
        {{ author }}
        {% endif %}
        {% unless forloop.last %}, {% endunless %}
        {% endfor %}.
          {% if pub.venue or pub.description %}<i>{% if pub.description %}{{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{{ pub.venue }}</i>{% if pub.venue %},{% endif %} {% endif %}{{ pub.year }}.

          {% if pub.link or pub.pdf or pub.arxiv or pub.video or pub.blog or pub.slides or pub.doi %}
            <div class="extra-links">
            {% if pub.pdf %}
              <a href="{{ pub.pdf }}">
                <i class="far fa-file-pdf" aria-hidden="true"></i> PDF
              </a>
            {% elsif pub.arxiv %}
              <a href="https://arxiv.org/pdf/{{ pub.arxiv | cgi_escape }}.pdf">
                <i class="far fa-file-pdf" aria-hidden="true"></i> PDF
              </a>
            {% endif %}
            {% if pub.link %}
              <a href="{{ pub.link }}">
                <i class="fas fa-link" aria-hidden="true"></i> Project
              </a>
            {% endif %}
            {% if pub.blog %}
              <a href="{{ pub.blog }}">
                <i class="fas fa-newspaper" aria-hidden="true"></i> Article
              </a>
            {% endif %}
            {% if pub.video %}
              <a href="{{ pub.video }}">
                <i class="fas fa-film" aria-hidden="true"></i> Video
              </a>
            {% endif %}
            {% if pub.doi %}
              <a href="https://www.doi2bib.org/bib/{{ pub.doi }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% elsif pub.arxiv %}
              <a href="https://arxiv2bibtex.org/?q={{ pub.arxiv | cgi_escape }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% endif %}
            </div>
          {% endif %}

          {% for award in pub.awards %}<strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}


<!--<h2>Talks & Presentations  <a href="{{ '/talks/' | absolute_url }}">[Interactive Version]</a></h2>

{% assign talktitles = site.data.talks | group_by:"title" %}
{% for title in talktitles %}
  <h3 class="cv-talk-title">{{ title.name }}</h3>
  {% assign sorted_talks = title.items | sort: 'date' | reverse %}
  {% for talk in sorted_talks %}
    <div class="date-container">
      <time datetime="{{ talk.date }}">{{ talk.date | date: "%b %Y" }}</time>
      <span class="fill">{{ talk.location }}{% if talk.city %}, <small class="muted">{{ talk.city }}</small>{% endif %}</span>

    </div>
  {% endfor %}
{% endfor %}-->
<h2>Skill</h2>

<p><strong>Programming Skills:</strong> Python, Pytorch, JavaScript, Vue.js, D3.js, Echarts.js, Latex</p>
<p><strong>Design Skills:</strong> Figma, Adobe Photoshop, Adobe Illustrator, Adobe Lightroom, Final Cut Pro</p>

<h2>Service</h2>

<p><strong>Conference Reviewer:</strong> ChinaVis (2024)</p>
<p><strong>Volunteer:</strong> ChinaVis (2024)</p>



</section>
