#facets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }

  .facet {
    &:not(:last-child) {
      margin-right: 12px;
    }

    min-width: 125px;
    flex-grow: 1;
    flex-basis: 0;
  }

  ul {
    min-width: 0;
    list-style: none;
    margin-left: 0;

    li {
      min-width: 0;
      white-space: nowrap;
      font-size: 0.85em;
      cursor: pointer;

      color: $grey-color-dark;

      &.in-query {
        color: black;
        font-weight: 500;
      }

      & > span {
        display: flex;
        align-items: center;

        .limited {
          padding-right: 0.3em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cnt {
          color: $grey-color-light;
        }
      }

      .bar-full {
        border-bottom: 2px solid #ddd;
        width: 100px;
        max-width: 100%;
        margin-bottom: 3px;

        .bar {
          border-bottom: 2px solid $brand-color;
          margin-bottom: -2px;
        }
      }
    }
  }
}

#only-highlight input {
  vertical-align: text-bottom;
}

#only-highlight.hidden {
  display: none;
}

@include media-query($on-laptop) {
  .bar-full {
    width: 80px !important;
  }
}

#clear-filters {
  color: $grey-color-dark;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }

  &.hidden {
    opacity: 0;
  }

  i {
    color: firebrick;
  }
}

#ft-search {
  width: 350px;
  font-size: 1.1em;
  padding: 0.4em;
}

.pubs {
  .pub-year {
    font-size: 1.3em;
    margin: 0.7em 0 0.5em 0;
    border-bottom: none;
    color: $grey-color;
  }

  .publication,
  .year {
    opacity: 1;
    max-height: 600px;
    overflow: hidden;
    transition: all 0.6s ease;

    &.hidden {
      max-height: 0;
      margin: 0;
      opacity: 0;
    }
  }

  .publication {
    display: flex;
    margin-bottom: 2em;

    h3 {
      font-size: 1.15em;
      margin: 0em;
      font-weight: 500;

      max-height: 600px;
      overflow: hidden;

      &.hidden {
        max-height: 0;
      }
    }

    .award-icon {
      margin-right: 30px;
      font-size: 1.2em;

      &.fa-trophy {
        color: $yellow-color;
      }

      &.fa-award {
        color: firebrick;
      }
    }

    .authors {
      margin-bottom: 0.3em;
      font-weight: 300;
      a {
        color: $text-color;
      }
    }

    .venue,
    .venue a {
      color: $grey-color;
    }

    .awards {
      margin-top: 0.1em;
      font-weight: 500;
      color: firebrick;
    }

    .tweet {
      &:hover {
        text-decoration: none;

        .message {
          text-decoration: underline;
        }
      }
      .message {
        font-size: 0.9em;
        font-style: italic;
        color: $grey-color;
      }
    }

    p {
      margin-bottom: 0;
    }

    .extra-links {
      margin-top: 0.5em;
      font-weight: 300;
      font-size: 0.9em;

      a {
        margin-right: 0.5em;
        white-space: nowrap;

        // avoid the extra whitespace after the link text
        display: inline-block;

        border-bottom: 1px solid transparent;

        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $link-color;
        }
      }
    }
  }
}
.year-block {
  position: relative;
  padding-right: 20px; /* 为年份标签提供空间 */
}

.year-divider {
  border-top: 1px dashed #ccc; /* 设置虚线 */
  margin-top: 20px; /* 根据需要调整间距 */
  margin-bottom: 10px; /* 在年份标签之前留出空间 */
}

.year-label {
  position: absolute;
  right: 0; /* 年份标签靠右显示 */
  top: -12px; /* 调整这个值以正确定位年份标签 */
  background: #fff; /* 背景颜色，用来覆盖虚线 */
  padding: 0 10px; /* 年份两侧的空间 */
  font-weight: bold; /* 加粗字体 */
}

.publication-image {
  display: block;
  width: 200px;  /* 固定宽度 */
  height: 100px;
  flex-shrink: 0;  
  margin-right: 15px;
  border: 1px solid #f1f1f1;

  background-size: cover;
  background-position: top left;
  overflow: hidden; /* 防止背景图片在容器外显示 */

  transition: background-position 1.5s ease; /* 平滑过渡背景位置 */

  &:hover {
      background-position: bottom right;
  }
}

.publication-content {
  flex: 1 1 auto; /* 允许内容区域填充剩余空间 */
}

.venue-tag {
  background-color: lighten($yellow-color, 40%);
  border-radius: 6px;
  padding: 2px 6px;
  color: black; // 视具体情况调整文字颜色
  font-size: 0.9em;
  margin-right: 2px;
}